
.links{
    float: left;
    padding-top: 0px;
    font-family: fantasy;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 7px;
}
.menu{
    right: 1150px;
    text-align: center;
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 0px;
    cursor: pointer;
    z-index: 10;
}
#grid_header{
    position: relative;
    text-align: center;
    top: 80px;
}
img{
    width: 500px;
    height: 500px;
}
.row{
    position: relative;
    margin-top: 100px;
    text-align: center;
}